streamlit
scikit-learn==1.5.2
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
mediapipe==0.10.21
opencv-python==4.10.0.84
opencv-contrib-python==4.11.0.86
seaborn==0.13.2
streamlit-webrtc
av
nest_asyncio